body {
    background: black;
    color: white;
    font-family: "Space Mono", monospace;
    padding: 30px;

}

.container {
    width: 50%;
    margin-left: 25%;
  }

input {
    background: #333333;
    caret-color: white;
    caret-shape: underscore;
    border: 1px solid gray;
    color: lightblue;
    font-family: "Space Mono", monospace;
    font-size: 1.2em;
    margin: 1em 0;
    border-radius: 10px;
    padding-left: 10px;
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}